[Unit]
Description=Inotify Security Summary Generator


[Service]
Type=oneshot

User=root
Group=root

WorkingDirectory=/opt/inotify-security-monitor

ExecStart=/opt/inotify-security-monitor/scripts/summary-engine.sh