[Unit]
Description=Rotate Inotify Security Monitor Logs


[Service]
Type=oneshot

User=root
Group=root

WorkingDirectory=/opt/inotify-security-monitor

ExecStart=/opt/inotify-security-monitor/scripts/rotate-logs.sh