[Unit]
Description=Inotify Security Monitor
After=network.target


[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/opt/inotify-security-monitor

ExecStart=/opt/inotify-security-monitor/scripts/inotify-monitor.sh

Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target